.calculate-farming {
    position: relative;
    @include medium {
        padding-bottom: 306px;
    }
    .ball-decoration {
        display: none;
        @include medium {
            display: block;
            &:first-of-type {
                width: 113px;
                height: 113px;
                z-index: -1;
                top: -37px;
                left: -49px;
            }
            &:last-of-type {
                width: 155px;
                height: 155px;
                z-index: -1;
                bottom: -49px;
                right: -52px;
            }
        }
    }
    margin-top: 88px;
    .common-title-text {
        p {
            width: 100%;
            @include medium {
                width: 367px;
            }
        }
    }
}
