.change-site-modal{
    background: #FFFFFF;
    border-radius: 24px;
    gap: 20px;
    position: fixed;
    z-index: 101;
    width: fit-content;
    height: fit-content;
    left: 0;
    right: 0;
    top: -2000px;
    bottom: 0;
    margin: auto;
    padding-top: 60px;
    transition: all .25s;
}

.change-modal-open{
    top: 0;
    box-shadow:0 0 0 1000px rgba(0,0,0,.50);
}

.hidescroll{
    pointer-events: none;
    overflow: hidden;
}

.showscroll{
    pointer-events: auto;
}

.modal-image{
    width: 400px;
}

.x-mark{
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}

@media screen and (max-width: 786px) {
    .modal-image{
        width: 250px;
    }
}