.header-menu {
  width: 100%;
  height: 74px;
  background: $white;
  box-shadow: 0px 4px 114px rgba(0, 0, 0, 0.15);
  position: relative;
  display: flex;
  align-items: center;

  &.header-menu-fixed {
    position: fixed;
    z-index: 100;
  }
  @include extra-large {
    padding-left: 30px;
  }
  @include wide-screen {
    padding-left: 50px;
  }
  @include large {
    height: 76px;
  }
  .hamburger-button {
    position: fixed;
    // top: 50%;
    // transform: translateY(-50%);
    width: 38px;
    right: 24px;
    height: 27px;
    z-index: 60;
    @include large {
      display: none;
    }

    span {
      display: block;
      position: absolute;
      z-index: 60;
      height: 3px;
      background: $black-theme;
      border-radius: 50px;
      opacity: 0.8;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
      top: 0;
      right: 0;
      &:nth-child(1) {
        width: 32px;
      }
      &:nth-child(2) {
        width: 38px;
        top: 12px;
      }
      &:nth-child(3) {
        width: 24px;
        top: 24px;
      }
      &:nth-child(4) {
        top: 36px;
      }
    }
  }
  .hamburger-button-open {
    span {
      &:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        top: 18px;
        width: 24px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }

  .cta-button-wrapper {
    margin: 0;
    min-width: 110px;
    .btn-primary-big {
      padding: 12px 21px;
      span {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  .menu {
    // height: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    transition: all 0.3s, background 0s;
    width: 0;
    padding: 0 !important;
    padding-top: 104px !important;
    box-shadow: 0px 4px 114px rgba(0, 0, 0, 0.15);
    background: $white;
    @include large {
      height: 76px;
      padding: 0 16px !important;
      padding: 0 !important;
      box-shadow: unset;
      width: 100%;
      padding: 0 16px !important;
      overflow-y: unset !important;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 32px;
      margin-bottom: 32px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      width: 100%;

      @include large {
        border-bottom: none;
        padding-bottom: 0;
        margin: 0;
        max-width: 202px;
        margin-left: auto;
      }

      @include extra-large {
        margin-right: 30px;
      }

      @include wide-screen {
        margin-right: 40px;
      }
    }
    &.open-menu {
      width: 96%;
      padding: 104px 16px 0 16px !important;
      height: 100%;
      overflow-y: scroll;
      @include large {
        height: 76px;
        padding: 0 16px !important;
        padding: 0 !important;
        box-shadow: unset;
        width: 100%;
        padding: 0 16px !important;
        overflow-y: unset !important;
      }
    }
  }

  .main-menu {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include large {
      max-width: 900px;
      height: 76px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 !important;
    }

    &-item {
      text-decoration: none;
      margin-bottom: 32px;
      padding-left: 12px;
      p {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $black-theme;
        opacity: 0.8;
        margin: 0;
      }
      @include large {
        p {
          font-size: 14px;
        }
        padding-left: 0;
        margin: 0;
      }
    }
    .active {
      p {
        color: var(--accent-red-e5) !important;
        font-weight: 800;
        opacity: 1;

        &::after {
          content: "";
          position: relative;
          top: 2px;
          background: var(--accent-red-e5);
          width: 15px;
          height: 3px;
          display: block;
          border-radius: 20px;
          box-shadow: 0px 2px 4px rgb(227 7 19 / 30%);
          left: calc(50% - 12px);
          
          @media only screen and (max-width: 500px) {
          left: auto;

          }
        }
      }
    }
    .drop-down {
      &.main-menu-item {
        padding-left: 0;
      }
      @include large {
        position: relative;
      }
      .drop-down-select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 53px;
        border-radius: 6px;
        padding: 0;
        cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: $red-ff;
          opacity: 0.2;
          border-radius: 6px;
          @include large {
            position: relative;
            background-color: transparent !important;
            width: auto;
            height: auto;
          }
        }
        .item {
          font-weight: 800;
          font-size: 16px;
          line-height: 20px;
          color: $accent-red-e5;
          margin: 0;
          padding-left: 12px;
          position: relative;
          @include large {
            padding-left: 0;
          }
          &::after {
            content: "";
            position: absolute;
            width: 14px;
            height: 3px;
            bottom: -4px;
            left: calc(50% - 12px);
            transform: translateX(calc(50% + 2px));
            background: $accent-red-e5;
            box-shadow: 0px 2px 4px rgba(227, 7, 19, 0.3);
            border-radius: 20px;
          }
        }

        .arrow {
          margin-right: 15px;
          @include medium {
            margin-right: 0;
          }
          svg {
            margin-left: 10px;
            transform: rotate(90deg);
          }
        }

        .openArrow {
          svg {
            transform: rotate(-90deg);
          }
        }
      }

      .drop-down-content {
        background-color: $white;
        width: 100%;
        padding-left: 13px;
        opacity: 0;
        max-height: 0;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        max-height: 700px;

        &-item {
          display: flex;
          align-items: center;
          max-height: 0;
          margin-top: 32px;
          @include large {
            transition: 0.3s;
            margin-top: 0;
            margin-left: 16px;
            margin-right: 16px;
          }
          .icon {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            max-height: 0;
            z-index: 3;
            border-radius: 8px;
            @include large {
              transition: 0.3s;
            }
            svg {
              z-index: 3;
            }
            &::after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;
              background: rgba(255, 172, 149, 0.8);
              backdrop-filter: blur(15px);
              z-index: 2;
              border-radius: 8px;
            }
            &::before {
              content: "";
              background-image: url("../../assets/images/submen-icon-background.svg");
              display: inline-block;
              width: 50px;
              position: absolute;
              left: -4px;
              height: 50px;
              background-repeat: no-repeat;
              z-index: 1;
              transform: rotate(14deg);
              transition: 0.3s;
              opacity: 0;
            }
          }
          &:hover {
            .icon {
              &::before {
                left: -16px;
                transform: none;
                opacity: 1;
              }
            }

            .text {
              color: $accent-red;
            }
          }
          .text {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $black-theme;
            opacity: 0.8;
            // transition: 0.3s;
            max-height: 0;
            margin: 0;
            margin-left: 16px;
            @include large {
              font-size: 14px;
              line-height: 18px;
              margin-left: 0;
              text-align: center;
            }
          }
        }
        @include large {
          position: absolute;
          bottom: -303px;
          right: -58px;
          flex-direction: row;
          flex-wrap: wrap;
          height: 277px;
          width: 480px;
          z-index: 100;
          background: $white;
          border-radius: 34px;
          box-shadow: 0px 4px 114px rgba(0, 0, 0, 0.15);
          padding: 40px 4px;
          display: flex;
          transition: 0.3s;
          visibility: hidden;
          overflow: unset;
        }

        &.right {
          @include large {
            left: -58px;
            right: unset;
          }
        }

        .drop-down-content-item {
          &:hover {
            text-decoration: none;
          }
          @include large {
            transition: 0.2s;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 86px;
            justify-content: space-between;
          }

          .icon {
            svg {
              padding-left: 8px;
            }
          }
        }
      }
      .drop-down-content-open {
        opacity: 1;
        display: flex;
        height: auto;
        @include large {
          height: 277px;
          visibility: visible;
          &::after {
            content: "";
            position: absolute;
            top: -13px;
            right: 70px;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid $white;
          }
        }
        &.right {
          @include large {
            &::after {
              left: 60px;
              right: unset;
            }
          }
        }
        .drop-down-content-item {
          // transition: 0.2s;
          max-height: 70px;
          @include large {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 86px;
            justify-content: space-between;
          }

          .icon {
            // transition: 0.3s;
            max-height: 40px;
            width: 40px;
            svg {
              transform: scale(1.4);
              padding-left: 8px;
              padding-top: 8px;
            }
          }
          .text {
            // transition: 0.3s;
            max-height: 20px;
          }
        }
      }
    }
  }
}
.open-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $light-gray-f8-bg;
  z-index: 50;
  transition: 0.3s;

  @include medium {
    position: unset;
  }
}

.dark {
  header {
    background: $gray-39;
    .main-menu {
      .drop-down {
        .drop-down-content-open {
          background: $gray-39;
          &::after {
            border-bottom-color: $gray-39;
          }
        }
      }
    }
    .menu {
      background: $gray-39;
      .buttons {
        border-color: $grey-73;
      }
      .active {
        color: $white;
      }
    }
  }
}
