.main-hero {
  padding-top: 205px;
  position: relative;

  .upper-hero-content-wrapper {
    @media only screen and(max-width: 1198px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  .left-hero-wrapper {
    background: url("../../..//assets/Home/mainHeroImage.png");
    min-height: 340px;
    height: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    color: var(--white);
  }
  .bottom-item {
    border-radius: 8px;
    background: var(--white);
    max-width: 190px;
    min-height: 190px;
    width: 100%;
    height: 100%;
    // filter: drop-shadow(12px 16px 44px rgba(0, 0, 0, 0.12));
    box-shadow: 12px 16px 44px rgba(0, 0, 0, 0.12);
    padding: 20px;
    @media only screen and(max-width: 600px) {
      max-width: inherit;
    }
    p {
      font-weight: 600;
      font-size: 22px;
      color: var(--black);
    }

    img {
      width: 100px;
      height: 100px;
    }

    .action-button3 {
      height: 0px;
      width: 100%;
      display: flex;
      justify-content: end;
      margin: 0 -22px;
      position: relative;
      top: -5px;
      border: none !important;
      outline: none !important;
    }
  }
  .hero-content-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    margin-left: 2rem;
    margin-right: 2rem;

    h1 {
      font-size: 82px;
      font-weight: 900;
    }
  }

  .left-hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 46px;

    line-height: 58px;
  }

  .info-wrapper {
    background: linear-gradient(58.71deg, #375bd2 -1.57%, #9ab0f5 98.43%);
    box-shadow: 12px 16px 44px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    color: var(--white);
    padding: 10px;

    img {
      width: 40px;
      height: 40px;
    }

    .info-title {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: var(--white);
    }

    .digits {
      font-weight: 300;
      font-size: 26px;
      line-height: 33px;
      display: flex;
      gap: 5px;
      align-items: center;

      span {
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
      }
    }

    .tvl-info {
      font-weight: 700;
      font-size: 34px;
      line-height: 43px;
      display: flex;
      gap: 5px;
      align-items: center;

      span {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  .staking-wrapper {
    background: linear-gradient(58.71deg, #1d91d0 -1.57%, #32b1f7 98.43%);
    box-shadow: 12px 16px 44px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    color: var(--white);
    max-width: 396px;
    min-height: 190px;
    width: 100%;
    height: 100%;
    padding: 20px;

    @media only screen and(max-width: 1231px) {
      max-width: 375px;
    }

    @media only screen and(max-width: 1198px) {
      max-width: inherit;
    }

    img {
      width: 22px;
      height: 22px;
    }

    h1 {
      font-weight: 900;
      font-size: 46px;
    }

    #title {
      font-weight: 600;
      font-size: 22px;
    }

    .subtitle {
      font-weight: 400;
      font-size: 14px;
    }

    .staking-content {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .action-button2 {
      height: 0px;
      width: 100%;
      display: flex;
      justify-content: end;
      margin: 0 -22px;
      position: relative;
      top: 3px;
      border: none !important;
      outline: none !important;
    }
  }

  .game-wrapper {
    background: linear-gradient(238.65deg, #32f7b0 11.65%, #1db0d0 90.96%);
    box-shadow: 12px 16px 44px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    max-width: 190px;
    min-height: 190px;
    width: 100%;
    height: 100%;
    color: var(--white);
    padding: 20px;

    @media only screen and(max-width: 1231px) {
      max-width: 185px;
    }

    @media only screen and(max-width: 1198px) {
      max-width: inherit;
    }

    .game-content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    span {
      font-weight: 600;
      font-size: 22px;
    }

    #cawsLogo {
      height: 85px;
      width: 80px;
    }

    #console {
      height: 65px;
      width: 65px;
      bottom: 20px;
      position: relative;
    }
  }
  .caws-bottom-wrapper {
    background: var(--white);
    box-shadow: 12px 16px 44px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    max-width: 620px;
    min-height: 323px;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;

    @media only screen and(max-width: 776px) {
      max-width: inherit;
    }

    .caws-bottom-content-wrapper {
      @media only screen and(max-width: 1089px) {
        gap: 30px;
      }
    }

    .left-text-wrapper {
      display: flex;
      flex-direction: column;
      max-width: 205px;

      @media only screen and(max-width: 1089px) {
        max-width: inherit;
      }
    }

    #multi-caws {
      width: 270px;
      height: 180px;
    }

    .caws-title {
      font-weight: 600;
      font-size: 22px;
      color: var(--black);
    }

    .caws-desc {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;

      color: #7d7d7d;
    }
  }
  .action-button {
    height: 0px;
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 0 -22px;
    position: relative;
    top: 3px;
    border: none !important;
    outline: none !important;
  }

  .circle-decoration {
    position: absolute;
    top: -74px;
    left: -50%;
    // transform: translateX(-50%);
    width: 372px;
    height: 372px;
    border-radius: 50%;
    background-color: $orange;
    opacity: 0.04;
    z-index: -1;
    @include medium() {
      left: -40%;
      top: 0;
      width: 732px;
      height: 732px;
    }
  }

  .main-hero-graphic-wrapper {
    position: relative;
    svg {
      // width: 140%;
      margin-left: -20%;

      @include medium {
        // width: 100%;
        margin-left: 0;
      }
    }

    img {
      transform: scale(1.2);
    }

    .text-wrapper {
      position: absolute;
      top: 39%;
      left: 18%;
      color: #fff;
      p {
        margin-bottom: 0;
        font-size: 10px;
        line-height: 11px;

        @include extra-small {
          font-size: 11px;
          line-height: 14px;
        }

        @include small {
          font-size: 14px;
          line-height: 17px;
        }

        @include large {
          font-size: 15px;
          line-height: 18px;
        }

        @include extra-large {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    .text-wrapper-secondary {
      position: absolute;
      bottom: 18%;
      right: 29%;
      color: $white;

      @include small {
        bottom: 19%;
        right: 32%;
      }

      @include medium {
        right: 29%;
      }

      // @include extra-large {
      //     right: 30%;
      // }

      p {
        margin-bottom: 0;
        font-size: 10px;
        line-height: 11px;

        @include small {
          font-size: 11px;
        }

        @include large {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }

  .main-hero-graphics {
    width: 100%;
  }

  .audited-by-title {
    line-height: 32px;
    font-size: 15px;
    color: $black-theme;
    @include medium() {
      margin-bottom: 28px;
      font-size: 18px;
    }
  }
}
.horizontal-divider {
  width: 1px;
  height: auto;

  margin: 0 17px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  transform: translateX(-100%);
}

.carousel-fade {
  .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transform: none;
  }

  .carousel-item.active,
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    z-index: 1;
    opacity: 1;
  }

  .active.carousel-item-left,
  .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
  }
}

.carousel.pointer-event {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.carousel {
  .carousel-indicators {
    bottom: -60px;
    right: 0;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    @include medium() {
      bottom: -106px;
      justify-content: flex-start;
      margin-left: 214px;
    }
    li {
      background-color: $accent-red-2 !important;
      opacity: 0.3;
      margin: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      margin-left: 8px;
      border: none;
    }
    .active {
      width: 10px;
      height: 10px;
      opacity: 1;
      background: linear-gradient(180deg, #fa4933 0%, #e30713 100%);
      box-shadow: 0px 4px 4px rgba(227, 7, 19, 0.3);
    }
  }
}
